<html>
  <head>
  <script src='script.js'> </script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
      <div class='button-wrapper'>
          <button onclick='selectColor(this)' class='color-button' id='blue'> </button>
          <button onclick='selectColor(this)' class='color-button' id='red'> </button>
          <button onclick='selectColor(this)' class='color-button' id='green'> </button>
          <button onclick='selectColor(this)' class='color-button' id='yellow'> </button>

          <button onclick='buzz(this)' id='buzz'> BUZZ </button>
      </div>



  </body>
</html
